.changePassword {
  padding: 20px;
  background-image: linear-gradient(to right, #a0c8f8, #474af7, #770be3); /* Gradient background */
  color: #000; /* Text color */
  height: 100vh; /* Set the height to cover the full viewport */
  display: flex;
  flex-direction: column;

}

.changePassword h2 {
  margin-bottom: 40px;
}

.formGroup {
  margin-bottom: 20px;
}

.formGroup label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="password"] {
  width: calc(100% - 20px); /* Adjusted width to accommodate padding */
  padding: 10px;
  border: 1px solid #f3e9e9; /* Border color */
  border-radius: 5px; /* Rounded corners */
  background-color: rgb(241, 234, 234); /* Semi-transparent white background */
  color: #000; /* Text color */
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: transparent; /* Transparent button background */
  color: #000; /* Button text color */
  border: 1px solid #fff; /* Button border */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


