.highSecurityOptions {
  padding: 20px;
  background-image: linear-gradient(to bottom, #a0c8f8, #474af7, #770be3); /* Gradient background */
  color: #000; /* Text color */
  height: 100vh; /* Set the height to cover the full viewport */
  display: flex;
  flex-direction: column;
 
  align-items: center; /* Center horizontally */
}

.highSecurityOptions h1 {
  margin-bottom: 40px;
}

.formGroup {
  margin-bottom: 20px;
}

.formGroup label {
  display: block;
  margin-bottom: 5px;
  font-size: 18px; /* Adjust the font size */
  font-weight: bold;
}

input[type="checkbox"] {
  margin-right: 10px; /* Add some space between the checkbox and label text */
}

input[type="number"] {
  width: calc(100% - 20px); /* Adjusted width to accommodate padding */
  padding: 10px;
  border: 1px solid #fff; /* Border color */
  border-radius: 10px; /* Rounded corners */
  background-color: rgba(255, 255, 255); /* Semi-transparent white background */
  color: #000; /* Text color */
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: transparent; /* Transparent button background */
  color: #000; /* Button text color */
  border: 1px solid #fff; /* Button border */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #fdfcff; /* Button hover background color */
}
