.manageBeneficiaries {
  padding: 20px;
  background-image: linear-gradient(to right, #a0c8f8, #474af7, #770be3); /* Gradient background */
  color: #000; /* Text color */
  height: 100vh; /* Set the height to cover the full viewport */
  display: flex;
  flex-direction: column;

  align-items: center; /* Center horizontally */
}

.manageBeneficiaries h2 {
  margin-bottom: 20px;
}

.error {
  color: red;
  margin-bottom: 15px;
}

.manageBeneficiaries a {
  margin-bottom: 20px;
  text-decoration: none;
  color: #000; /* Link text color */
  font-weight: bold;
}

.manageBeneficiaries a:hover {
  text-decoration: underline; /* Underline on hover */
}

.beneficiaryList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.beneficiaryItem {
  margin-bottom: 10px;
}

.beneficiaryItem p {
  margin: 0;
}

.beneficiaryItem button {
  padding: 5px 10px;
  background-color: transparent; /* Transparent button background */
  color: #000; /* Button text color */
  border: 1px solid #fff; /* Button border */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.beneficiaryItem button:hover {
  background-color: #fdfcff; /* Button hover background color */
}
